<section class="footer">
    <div class="row container">
        <div class="first-row">
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/images/logo/png_logo.png" alt="">
                </div>
            </div>

            <div class="back-to-the-top">
                <a href="#page-start" class="btn btn-medium s-text btn-light">Voltar ao Topo</a>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row links-container">
            <div class="footer-content">
                <h4 class="ss-title t-medium">Navegação</h4>
                <li><a href="#" class="s-text">Home</a></li>
                <li><a href="#" class="s-text">Sobre</a></li>
                <li><a href="/media" class="s-text">Conteúdos</a></li>
                <li><a href="/news" class="s-text">Notícias</a></li>
            </div>

            <div class="footer-content">
                <h4 class="ss-title t-medium">Redes Sociais</h4>
                <li><a href="#" class="s-text">Youtube</a></li>
                <li><a href="#" class="s-text">Twitter</a></li>
                <li><a href="#" class="s-text">Discord</a></li>
                <li><a href="#" class="s-text">GameJolt</a></li>
                <li><a href="#" class="s-text">Newgrounds</a></li>
            </div>

            <div class="footer-content">
                <h4 class="ss-title t-medium">Tópicos Importantes</h4>
                <li><a href="#" class="s-text">Desafios Minecraft</a></li>
            </div>
            
            <div class="footer-content">
                <h4 class="ss-title t-medium">Site feito por:</h4>
                <li><a href="#" class="s-text">Cookiezinnh</a></li>
            </div>
        </div>
    </div>
</section>