<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Snowyie Society</title>

<link rel="icon" type="image/jpg" href="/static/images/logo/png_main_logo.png">

<!-- FontAwesome CDN -->
<script src="https://kit.fontawesome.com/d87ef857ef.js" crossorigin="anonymous"></script>

<!-- Boxicons -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!-- CSS link -->
<link rel="stylesheet" href="/static/styles/default_css/main.css">
<link rel="stylesheet" href="/static/styles/default_css/fonts.css">
<link rel="stylesheet" href="/static/styles/default_css/navbar.css">
<link rel="stylesheet" href="/static/styles/default_css/footer.css">