<section class="hero main-hero" id="page-start">
    <div class="row container">
        <div class="bg-color"></div>
        <div class="hero-content-wrap">
            <h1 class="b-title t-heavy text-align-l">Bem-Vindos(as)!</h1>
            <br>
            <p class="m-text">Nos, a Snowyie, somos um estúdio de desenvolvimentos de jogos indie, aqui transformamos sonhos em jogos.</p>
            <br>
            <a href="/media">
                <button class="btn s-text btn-large btn-light">
                    <i class="fa-solid fa-arrow-right"></i> Veja os Nossos Projetos
                </button>
            </a>
        </div>
    </div>
    <%- include('main-hero/main-hero-display-content') %>
    <a class="downwards-arrow" href="#content-start">
        <i class="fa-solid fa-angles-down"></i>
    </a>
</section>