<section class="hero main-hero" id="page-start">
    <div class="row container">
        <div class="bg-color"></div>
    </div>
    <div class="main-hero-imagebg">
        <% if (content.banner) { %>
            <img src="<%= content.banner %>" alt="Banner do conteúdo" class="grid-image">
        <% } %>    
    </div>
</section>