<section class="hero main-hero" id="page-start">
    <div class="row container">
        <div class="container">
            <div class="text-area">
                <h1 class="b-title t-minecraft-ten text-align-c">Editar Post</h1>
                <p class="b-text t-minecraft-seven text-align-c">
                    Edite as informações do post abaixo.
                </p>
            </div>
        </div>
        <div class="bg-color"></div>
    </div>
    <div class="main-hero-imagebg">
        <% if (post.banner) { %>
            <img src="<%= post.banner %>" alt="Banner da postagem" class="grid-image" id="banner-preview">
        <% } else { %>
            <img src="" alt="Pré-visualização do banner" class="grid-image" id="banner-preview" style="display: none;">
        <% } %>    
    </div>
</section>