<section class="hero main-hero" id="page-start">
    <div class="row container">
        <div class="container">
            <div class="text-area">
                <h1 class="b-title t-minecraft-ten text-align-c">Criar Conteudo</h1>
                <p class="b-text t-minecraft-seven text-align-c">
                    Crie um novo conteudo baixavel para o site
                </p>
            </div>
        </div>
        <div class="bg-color"></div>
    </div>
    <div class="main-hero-imagebg">
        <img src="" alt="Pré-visualização do banner" class="grid-image" id="banner-preview" style="display: none;">
    </div>
</section>