<section class="navbar">
    <div class="nav-container">
        <nav class="main-nav">
            <div class="nav-items">
                <div class="logo">
                    <img src="/static/images/logo/png_logo.png" alt="">
                </div>

                <div class="vertical-line"></div>

                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="nav-items">
                <% if (user) { %>
                    <% if (user.role === 'admin') { %>
                        <a href="/dashboard" class="dashboard-btn">
                            <button class="btn s-text btn-medium btn-light">
                                <i class="fa-solid fa-hamburger"></i>
                            </button>
                        </a>
                        <a href="/create-post" class="create-post-btn">
                            <button class="btn s-text btn-medium btn-light">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </a>
                    <% } %>
                    <a href="/logout" class="logout-btn">
                        <button class="btn s-text btn-medium btn-light">
                            <i class="fa-solid fa-x"></i> Log-Out
                        </button>
                    </a>
                <% } else { %>
                    <a href="/login" class="login-btn">
                        <button class="btn s-text btn-medium btn-light">
                            <i class="fa-solid fa-user"></i> Log-In
                        </button>
                    </a>
                <% } %>
                <span class="mobile-toggle">
                    <i class="fa-solid fa-bars btn-open"></i>
                    <i class="fa-solid fa-xmark btn-close"></i>
                </span>
            </div>
        </nav>
    </div>
</section>

<script>
const nav = document.querySelector('.navbar');

window.addEventListener('scroll', () => {
    if (window.scrollY >= 80) {
        nav.classList.add('navbar-scrolled')
    } else if (window.scrollY < 80) {
        nav.classList.remove('navbar-scrolled')
    }
});
</script>