.row {
    display: grid;
    gap: 2rem 2rem;
    padding: var(--section-spacing);
    grid-column: span var(--main-grid-columns);
    grid-template-columns: repeat(4, 1fr); /* Limita a 4 colunas por linha */
}
/*
.post-block{
    height: 25vh;
    display: grid;
}

.post-text{
    background-color: dodgerblue;
    bottom: 0px;
}*/

.post-block {
    position: relative;
}

.post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    margin: 0; padding: 0;
}

.post-block .text-group {
    background-color: rgba(var(--black-L), .8);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
}

/*--x-- --x-- ~~ △ ~~ --x-- --x--
//  Reactivity
--x-- --x-- ~~ ▽ ~~ --x-- --x--*/
@media (max-width: 768px) {
    :root{
        --main-grid-columns: 3;
    }

    /* Main Hero */
    .hero-content-wrap{
        grid-column: span 3;
    }

    .video-bg-blur{
        display: none;
    } 

    /* News Hero */    
    .left-news-container{
        grid-column: span 3;
        margin-bottom: 20px;;
    }
      
    .right-news-container{
        grid-column: span 3;
        gap: 20px;
    }
    
    .news-container .text-group {     /*Tenho que fazer ainda*/
        display: none;
        background-color: rgba(var(--black-L), .8);
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    
}