/*--x-- --x-- ~~ △ ~~ --x-- --x--
//  Main Hero
--x-- --x-- ~~ ▽ ~~ --x-- --x--*/

.main-hero {
    height: calc(100vh - 360px);
}

/*--x-- --x-- ~~ △ ~~ --x-- --x--
//  Body
--x-- --x-- ~~ ▽ ~~ --x-- --x--*/

.section-1 .row{
    padding-bottom: 0px;
}

.section-15 .row{
    padding-top: 0px;
    padding-bottom: 0px;
}

.section-15 .body{
    display: flex;
}

.section-2 .row{
    padding-top: 0px;
}

.body h1 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
    hyphens: auto;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0;
}

.user {
    width: 64px;
    height: 64px;
    background-color: rebeccapurple; /* Cor de fallback caso o avatar não carregue */
    border-radius: 8px;
    margin-right: 1rem;
    background-size: cover; /* Garante que a imagem cubra o espaço */
    background-position: center; /* Centraliza a imagem */
}

.username-card {
    padding: 4px;
}

/*--x-- --x-- ~~ △ ~~ --x-- --x--
//  Reactivity
--x-- --x-- ~~ ▽ ~~ --x-- --x--*/

@media (max-width: 768px) {
    :root {
        --main-grid-columns: 3;
    }

    /* ------ Main Hero Containter ------ */

    .main-hero{
        height:       calc(100vh - 550px);
        min-height:   550px;
    }
}