/* Navbar Styles */
.navbar {
    height: 8rem;
    width: 100vw;
    padding: 0 2.4rem;
    background-color: rgba(var(--black-L), 0.25);
    backdrop-filter: blur(0.5rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.4s ease-in-out, width 0.4s ease-in-out;
}

.navbar-scrolled {
    background-color: rgba(var(--black-L), .8);
    backdrop-filter: blur(2.5rem);
}

/* Mobile toggle icons */
.fa-bars.hidden, .fa-x.hidden {
    display: none;
}

.fa-bars, .fa-x {
    font-size: 2.4rem;
    color: white;
    cursor: pointer;
}

.nav-container {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1.2rem; /* Espaço entre a logo e a barrinha */
}

.logo img {
    height: 40px;
}

.vertical-line {
    display: block;
    width: 3px;
    height: 40px;
    background-color: rgba(var(--white-L), .4);
    border-radius: 25px;
}

.nav-items-left {
    display: flex;
    align-items: center;
    gap: 2rem; /* Espaço entre os itens da navbar */
}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-link {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #e63946;
}

/* Mobile Styles */
.nav-items-right {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Espaço entre os elementos do lado direito */
}

.mobile-toggle {
    font-size: 2.4rem;
    color: white;
    cursor: pointer;
    display: none;
}

/* Estilo para o dropdown */
.nav-item.dropdown {
    position: relative; /* Para posicionar o menu dropdown relativo ao item pai */
}

.dropdown-menu {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: 100%; /* Exibir abaixo do item */
    left: 0;
    background-color: rgba(var(--black-L), .9);
    border-radius: 4px;
    padding: 0.5rem 0;
    list-style: none;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(var(--black-L), .9);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.dropdown-menu.visible {
    display: block; /* Exibir quando ativado */
    opacity: 1;
    visibility: visible;
}

.dropdown-link {
    display: block;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-link:hover {
    background-color: rgba(var(--red-L), .5);
}

/* Estilo para o dropdown do usuário */
.dropdown-user {
    position: relative;
}

.dropdown-menu-user {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(var(--black-L), .9);
    border-radius: 4px;
    padding: 0.5rem 0;
    list-style: none;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(var(--black-L), .9);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.dropdown-menu-user.visible {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Menu Hamburger */
.mobile-navbar {
    position: fixed;
    top: 8rem;
    right: -100%; /* Escondido fora da tela */
    width: 300px;
    height: calc(100vh - 8rem);
    background-color: rgba(var(--black-L), .9);
    transition: right 0.3s ease-in-out;
    z-index: 9999;
}

.mobile-navbar.mobile-active {
    right: 0; /* Exibir quando ativado */
}

.mobile-nav-list {
    list-style: none;
    padding: 2rem;
    margin: 0;
    text-align: left; /* Alinhar itens à esquerda */
}

.mobile-nav-item {
    margin-bottom: 1.5rem;
}

.mobile-nav-link {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    display: block;
    padding: 0.8rem 1.2rem;
}

.mobile-nav-link:hover {
    color: #e63946;
}

.mobile-dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 2rem;
}

.mobile-dropdown-link {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.mobile-dropdown-link:hover {
    color: #e63946;
}

.divider {
    grid-column: 1/-1;
    height: 3px;
    border-radius: 500px;
    margin-block: 2.4rem;
    background-color: rgba(var(--white-L), .25);
}

@media (max-width: 890px) {
    .user-btn .username {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .vertical-line {
        display: none;
    }

    .mobile-toggle {
        display: block;
    }

    .nav-items-left {
        flex-grow: 1;
    }

    /* Oculta o botão de login na navbar principal */
    .user-btn {
        display: none !important;
    }

    /* Exibe o botão de login no menu hambúrguer */
    .mobile-user-btn {
        display: block;
    }
}