<div class="main-hero-imagebg">
    <img src="/static/images/hero/main.png" alt="">
</div>

<div id="video" id="js-video" class="main-hero-videobg">
    <video src="/static/videos/hero/shinobi.mp4" autoplay muted loop id="main-hero-video"></video>
</div>