<div class="main-hero-imagebg">
    <img src="/static/images/hero/gallensnow-event.png" alt="">
</div>

<div id="video" id="js-video" class="main-hero-videobg">
    <video src="/static/videos/hero/lava.mp4" autoplay muted loop id="main-hero-video"></video>
</div>